@import "functions";

@mixin section-padding($percent:3%){
    padding: $percent;
}

@mixin border-radius($radius:rem-calc(5)) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
       -moz-border-top-right-radius: $radius;
        -ms-border-top-right-radius: $radius;
         -o-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
       -moz-border-top-left-radius: $radius;
        -ms-border-top-left-radius: $radius;
         -o-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
       -moz-border-bottom-right-radius: $radius;
        -ms-border-bottom-right-radius: $radius;
         -o-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
       -moz-border-bottom-left-radius: $radius;
        -ms-border-bottom-left-radius: $radius;
         -o-border-bottom-left-radius: $radius;
            border-bottom-left-radius: $radius;
}

@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor; // Fallback Color
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); // Saf4+, Chrome
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
    background-image:         linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin linear-gradient-side($fromColor, $toColor) {
    background-color: $toColor; // Fallback Color
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); // Saf4+, Chrome
    background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
    background-image:    -moz-linear-gradient(left, $fromColor, $toColor); // FF3.6
    background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
    background-image:      -o-linear-gradient(left, $fromColor, $toColor); // Opera 11.10+
    background-image:         linear-gradient(left, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin background-cover($image){
    background: url($image) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$image', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='$image', sizingMethod='scale')";
}

@mixin box-shadow($top: 0em, $left: 0em, $blur: 0.5em, $color: rgba(0, 0, 0, 0.5), $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

@mixin opacity ( $value: 0.5 ) {
    $percentage: $value * 100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=""$percentage"")";
    filter: alpha(opacity= $percentage);
    zoom: 1;
}

@mixin text-shadow($opacity:0.5){
    text-shadow:black($opacity) 0 1px 0;
}

@mixin letterpress($opacity:0.5){
    text-shadow:white($opacity) 0 1px 0;
}
